
.rev:before {
    content: attr(content);
    unicode-bidi: bidi-override;
    direction: rtl;
}

footer {
    font-size: x-small;
}


html body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

