

body {
  display: grid;
  grid-template-columns: 1fr; /* three columns  */
  grid-template-rows: 25px 50px 100% 50px; /* two rows  */
   grid-template-columns: 75px 100px;
    font-family: 'Raleway', sans-serif;
  grid-auto-flow: column;
    max-width: 500px;
    min-width: 400px;
    background-image: url(/photos/landscape/001.jpg);
}

nav {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  background-color: white;
}

aside {
    grid-column: 1 / 1;
    grid-row: 3 / 4;
    align-self: start;
    margin-right: 20px;
    background: url(../photos/aside.png);
    background-size: contain;
    height: 700px;
    width: 200px;
    background-position-y: -100px;
    margin: 5px;
    order: -1;
    background-repeat: repeat-y;
}


header {
  grid-column: 1 / 5;
  grid-row: 2 / 3;
  background-color: white;
  align-self: start;
    font-size: 2em;
}

main {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  display: flex;
  align-self: self-end;
  flex-flow: wrap;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    max-width: inherit;
}

div {
    color: white;

}

.i1 {
    background: url(../photos/landscape/007.jpg);
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-y: -300px;
    height: 200px;
    width: 100%;
    margin: 5px;
}

.i2 {
    background: url(../photos/landscape/005.jpg);
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
    margin: 5px;
}

.i3 {
    background: url(../photos/landscape/008.jpg);
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 200px;
    width: 500px;
    margin: 5px;
}

.i4 {
    background: url(../photos/landscape/006.jpg);
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-y: 100px;
    height: 200px;
    width: 500px;
    border: solid 1px;
    margin: 5px;
    border-color: lightgray;
}


.rev:before {
    content: attr(content);
    unicode-bidi: bidi-override;
    direction: rtl;
}

footer {
  grid-column: 1 / 5;
  grid-row: 4 / 5;
  background-color: white;
  align-self: end;
    font-size: x-small;
}

main div:nth-child(even) {
    align-self: flex-end;
}